@import "tailwindcss";

@theme {

    --color-gunmetal: #3B444B;
    --color-sky: #2ABAE9;
    --color-linerar-vivid: ;
    --color-eerie-black: #1C1D1D;
    --color-jet-black: #333333;
    --color-dim-gray: #4D4D4D;
    --color-soft-lilac: #DED5F6;
    --color-medium-gray: #666666;
    --color-sogt-gray: #E6E6E6;
    --color-ice-blue: #F7FCFE;
    --color-light-ice: #DCECFA;
    --color-dim-white: #EBEBEB;
}