@import "tailwindcss";

@theme {

    --color-gunmetal: #3B444B;
    --color-sky: #2ABAE9;
    --color-linerar-vivid: ;
    --color-eerie-black: #1C1D1D;
    --color-jet-black: #333333;
    --color-dim-gray: #4D4D4D;
    --color-soft-lilac: #DED5F6;
    --color-medium-gray: #666666;
    --color-blue: #2ABAE9;
    --color-light-gray: #E6E6E6;
    --color-pink: #E939D9;
    --color-primaryblue: #86AFF0;
    --color-dark-gray: #111223;
   --color-soft-lilac: #EDCBF4;
   --color-stone-gray: #7F7F7F;
    --color-pastel-lavender: #E2D2F5;
    --color-dark-black: #111111;
    --color-soft-periwinkle: #D7DAF6;
    --color-royal-blue: #7A98E6;
    --color-baby-blue: #95DDF4;
    --color-sogt-gray: #E6E6E6;
    --color-ice-blue: #F7FCFE;
    --color-light-ice: #DCECFA;
    --color-dim-white: #EBEBEB;
}